@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-family: "sanspro";
    src: url("/fonts/SourceSansPro-Regular.ttf") format("truetype");
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply h-1 w-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-4 bg-opacity-50;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-white bg-opacity-80;
  }
}

.slider {
  @apply h-[8px] appearance-none overflow-visible rounded-md bg-gray-3;
}

/* .slider::-webkit-slider-runnable-track {} */

.slider::-webkit-slider-thumb {
  @apply h-[12px] w-[12px] cursor-ew-resize appearance-none rounded-[50%] bg-gray-4;
}

.number_input::-webkit-outer-spin-button,
.number_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.number_input {
  -moz-appearance: textfield;
}
