# Envs
**/*.env
**/*.local
# **/*.cargo

# Node.js
**/node_modules/
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log

# Hardhat
**/artifacts/
**/cache/
**/typechain-types/

# Solid.js
**/.solid
**/dist

# Rust
**/debug/
**/target/
**/*.rs.bk

# MSVC Windows builds of rustc generate these, which store debugging information
**/*.pdb

# IDEs and editors
**/.vscode/
**/.idea/
**/*.swp
**/*.swo
**/*.swn
**/*.swm
**/*.swl
**/*.swo
**/*.swp
**/*.bak
**/*.un~
**/Session.vim
**/netrwhist

# OS generated
**/.DS_Store
**/.DS_Store?
**/._*
**/.Spotlight-V100
**/.Trashes
**/ehthumbs.db
**/Thumbs.db
