@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-display: swap;
    font-family: "Lexend";
    src: url("/fonts/lexend.ttf") format("truetype");
  }

  @font-face {
    font-display: swap;
    font-family: "Inter";
    src: url("/fonts/inter.ttf") format("truetype");
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply h-1 w-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-primary bg-opacity-50;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary bg-opacity-80;
  }
}

.token-linear-wipe-text {
  text-align: center;
  
  background-image: linear-gradient(to right, #bf088c, #b41c98, #a629a4, #9535af, #823eb8, #823eb8, #823eb8, #823eb8, #9535af, #a629a4, #b41c98, #bf088c);
  background-size: 400% auto;
  
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 15s linear infinite;
}

.token-linear-wipe-button {
  text-align: center;

  background-image: linear-gradient(to right, #bf088c, #b41c98, #a629a4, #9535af, #823eb8, #823eb8, #823eb8, #823eb8, #9535af, #a629a4, #b41c98, #bf088c);
  background-size: 400% auto;
  background-blend-mode: screen;
  animation: shine 15s linear infinite;
}

@keyframes shine {
  to {
    background-position: 400% center;
  }
}

.bucket-gradient {
  background-size: auto;
  background-image: linear-gradient(to bottom, #bf088c, #b41c98, #a629a4, #9535af, #823eb8, #823eb8, #823eb8, #823eb8);
}

@keyframes animate-stripes {
  0% {
      background-position: 0 0;
  }

  100% {
      background-position: 60px 0;
  }
}

.stripes {
  background-size: 30px 30px;
  background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, .15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .15) 50%,
      rgba(255, 255, 255, .15) 75%,
      transparent 75%,
      transparent
  );
  animation: animate-stripes 4s linear infinite;
}