@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-display: swap;
    font-family: "Lexend";
    src: url("/fonts/lexend.ttf") format("truetype");
  }

  @font-face {
    font-display: swap;
    font-family: "Inter";
    src: url("/fonts/inter.ttf") format("truetype");
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply h-1 w-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-primary bg-opacity-50;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary bg-opacity-80;
  }
}
