@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/lexend.ttf") format("truetype");
  }

  @font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/inter.ttf") format("truetype");
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply w-1 h-1
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-background;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-primary bg-opacity-50 rounded-full;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary bg-opacity-80;
  }
}